$phone-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

.previewContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    display: grid;

}

.photoContainer {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
}

.portfolioLink {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
    position: absolute;
    left: 50%;
    margin-left: -311px;
    top: 50%;
    margin-top: -37.75px;


    h1{
        margin: 0;
    }

    &:hover{
        color: white;
    }

    @include phone {
        font-size: 1.3em;
        margin-left: -204px;
        margin-top: -24.75px;
    }
}