$phone-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin desktop {
    @media (min-width: #{$tablet-width + 1}) {
        @content;
    }
}

.navigation{
    width: 100vw;
    height: 12vh;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .nav-logo {
        scale: 33%;
        margin-left: 0%;
        cursor: pointer;
        width: 100px;
        padding-right: 100px;
    }

    .nav-links-text{
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        font-size: 1.5rem;
        color: #00b548;
        text-transform: uppercase;
        
        *{
            cursor: pointer;
        }
    }
}




.nav-sidebar {
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.nav-links-text{
    div {
        @include phone {
            display: none;
        }
    }
}